<section class="group flex gap-4 p-1 rounded-md w-full border min-h-[60px] max-h-[60px] shadow-md bg-white">
    <!-- Separador -->
    <!-- <span class="flex w-full h-[1px] bg-black/5"></span> -->
    <!-- Bem vindo(a)! -->
    <!-- <div class="flex items-center justify-center">
        <p class="text-base font-semibold">Olá!</p>
    </div> -->
    <!-- Menus de navegação -->
    <div class="flex justify-between w-full">
        <div *ngFor="let item of menu_items" class="flex w-1/3">
            <!-- Menu item -->
            <a class="flex flex-col justify-center w-full items-center gap-1 p-3 hover:bg-sky-100 rounded-md transition-all"
                *ngIf="item.url !== 'SEPARADOR' && item.url !== 'LOGO'"
                [href]="item.url"
                [routerLink]="item.url"
                routerLinkActive="bg-sky-300 hover:bg-sky-300 font-semibold text-black/80">
                <i [class]="item.icon"></i>
                <p class="w-fit transition-all whitespace-nowrap">{{ item.title }}</p>
            </a>
            <!-- Logo -->
            <div *ngIf="item.url === 'LOGO'" class="flex w-full justify-center">
                <img src="https://www.alura.com.br/artigos/assets/novidades-angular-17/imagem1.gif"
                    class="object-contain flex pointer-events-none drop-shadow-xl rounded-lg">
            </div>
        </div>
    </div>
</section>
