<div class="flex flex-col w-full p-4 py-6 md:py-4 gap-4 md:gap-4 border font-semibold rounded-md border-gray-300 overflow-y-auto">
    <div class="flex items-center gap-2">
        <i [class]="PrimeIcons.USER" ngClass="text-lg font-normal"></i>
        <p class="text-lg font-normal">Imagem de perfil</p>
        <button mat-dialog-close class="flex justify-center items-center ml-auto p-2 hover:bg-black/5 rounded-full transition-all">
            <i [class]="PrimeIcons.TIMES" class="flex"></i>
        </button>
    </div>

    <div class="flex flex-col w-full gap-2">
        <div class="flex flex-col md:flex-row gap-2">
            <!-- Cropper -->
            <div class="w-[250px] h-[200px] max-w-[300px] max-h-[300px] md:w-[250px] md:h-[250px] ">
                <image-cropper
                    [imageChangedEvent]="imgChangeEvent"
                    [imageURL]="originalImage"
                    [roundCropper]="true"
                    [output]="'blob'"
                    [alignImage]="'left'"
                    [maintainAspectRatio]="true"
                    [resizeToWidth]="256"
                    [imageQuality]="90"
                    [canvasRotation]="canvasRotation"
                    [(transform)]="transform"
                    format="jpeg"
                    (imageCropped)="cropImg($event)"
                    (cropperReady)="cropperReady()"
                    (loadImageFailed)="imgFailed()">
                </image-cropper>
            </div>
            <!-- Preview -->
            <div class="flex flex-col gap-1 ">
                <div class="w-[200px] md:w-[250px] h-[200px] md:h-[250px] outline outline-1 outline-gray-200 relative overflow-hidden">
                    <i *ngIf="loading && (originalImage || cropImgPreview)" [class]="PrimeIcons.SPINNER" ngClass="absolute opacity-50 inset-0 flex animate-spin w-full h-full rounded-full justify-center items-center text-black/80 text-3xl bg-gray-200"></i>
                    <img
                        *ngIf="cropImgPreview"
                        class=" rounded-full object-contain bg-gray-200"
                        [(src)]="cropImgPreview">

                    <i *ngIf="!cropImgPreview && !loading" [class]="PrimeIcons.USER" ngClass="flex w-full h-full rounded-full justify-center items-center text-black/50 text-3xl bg-gray-200"></i>
                </div>
            </div>
        </div>
        <!-- Image control buttons -->
        <div *ngIf="cropImgPreview" class="flex gap-1 mt-auto">
            <button
                (click)="rotateImageRight()"
                pTooltip="Girar 90°"
                class="custom-btn flex w-[34px] h-[32px] justify-center items-center bg-transparent hover:bg-sky-100 text-sky-900">
                <i [class]="PrimeIcons.REFRESH" ngClass="flex text-sm"></i>
            </button>
            <button
                (click)="flipHorizontal()"
                pTooltip="Espelhar na horizontal"
                class="custom-btn flex w-[34px] h-[32px] justify-center items-center bg-transparent hover:bg-sky-100 text-sky-900">
                <i [class]="PrimeIcons.ARROW_H" ngClass="flex text-sm"></i>
            </button>
            <button
                (click)="flipVertical()"
                pTooltip="Espelhar na vertical"
                class="custom-btn flex w-[34px] h-[32px] justify-center items-center bg-transparent hover:bg-sky-100 text-sky-900">
                <i [class]="PrimeIcons.ARROW_V" ngClass="flex text-sm"></i>
            </button>
            <button
                (click)="zoomIn()"
                pTooltip="Aumentar zoom"
                class="custom-btn flex w-[34px] h-[32px] justify-center items-center bg-transparent hover:bg-sky-100 text-sky-900">
                <i [class]="PrimeIcons.PLUS" ngClass="flex text-sm"></i>
            </button>
            <button
                (click)="zoomOut()"
                pTooltip="Diminuir zoom"
                class="custom-btn flex w-[34px] h-[32px] justify-center items-center bg-transparent hover:bg-sky-100 text-sky-900">
                <i [class]="PrimeIcons.MINUS" ngClass="flex text-sm"></i>
            </button>
            <button
                (click)="removeImage()"
                pTooltip="Remover imagem"
                class="custom-btn flex w-[34px] h-[32px] justify-center items-center bg-transparent hover:bg-sky-100 text-sky-900">
                <i [class]="PrimeIcons.TIMES" ngClass="flex text-sm"></i>
            </button>
        </div>
        <!-- Imagem muito grande error message -->
        <span *ngIf="imageTooBigErrorMessage" class="text-[crimson]">{{imageTooBigErrorMessage}}</span>
    </div>
    <!-- Buttons -->
    <div class="flex gap-2">
        <!-- Input Alterar -->
        <label for="inputImage" pTooltip="Selecionar imagem do computador" tooltipPosition="top"
            class="custom-btn w-fit flex justify-center items-center gap-1 cursor-pointer bg-transparent hover:bg-sky-100"
            [ngClass]="{'border-[crimson]':imageTooBigErrorMessage}">
            <i [class]="PrimeIcons.UPLOAD"
                [ngClass]="{'text-sky-900 text-sm font-medium':true,
                        '!text-[crimson]':imageTooBigErrorMessage}"></i>
            <span class=" text-sky-900 text-sm font-medium"
                [ngClass]="{'!text-[crimson]':imageTooBigErrorMessage}">Alterar</span>
            <input
                (change)="onFileChanged($event)"
                id="inputImage"
                name="inputImage"
                type="file"
                accept="image/*"
                class="fixed top-[-100em]" />
        </label>
        <!-- Button Salvar -->
        <button mat-dialog-close (click)="setImageToClienteEntity()" class="custom-btn text-base">Salvar</button>
    </div>
</div>
