<div class="flex flex-col w-full max-h-[93dvh] p-8 gap-6 bg-white">
    <app-dialog-header [dialog_icon]="PrimeIcons.TRASH" dialog_title="Excluir cliente" />
    <div class="text-base">
        Deseja excluir&nbsp;<strong>{{dialogData.clienteEntity.nome}}</strong>?
    </div>
    <div class="flex w-full gap-2 mt-2 justify-between">
        <button mat-dialog-close class="custom-btn !text-base bg-black/70 border-none !px-2">Não</button>
        <button mat-dialog-close class="custom-btn !text-base !px-2 py-1"
            (click)="deleteClienteById()">Sim
        </button>
    </div>
</div>
