<section class="flex flex-col h-[calc(100dvh-80px)] md:h-[calc(100dvh-20px)] gap-2">
    <div class="flex flex-col p-4 md:p-8 gap-8 md:gap-10 bg-white shadow-md rounded-lg w-full h-full overflow-y-auto">
        <!-- Page header -->
        <div class="flex flex-col gap-4">
            <div class="flex flex-col gap-0">
                <!-- Title -->
                <p class="text-2xl font-semibold">Olá, usuário!</p>
                <!-- Date -->
                <p class="text-[13px]">{{ currentDateSignal() }}</p>
            </div>
            <!-- Divisor -->
            <div class="w-full h-[1px] bg-black/10"></div>
        </div>
        <!-- Page body -->
        <div class="flex flex-col gap-12 md:gap-16  w-full h-full">
            <!-- Cards ações -->
            <app-cards-actions />
            <!-- Cards ultimos clientes criados -->
            <app-cards-last-clientes-added />
        </div>
    </div>
</section>
