<section class="flex flex-col h-[calc(100dvh-24px)] gap-2">
    <app-page-header
        _pageTitle="Listar clientes">
    </app-page-header>
    <div class="flex flex-col p-4 px-6 max-h-[calc(100%-72px)] bg-white shadow-md rounded-lg w-full h-full">
        <div class="flex gap-1 w-fit">
            <button (click)="add10Clientes()" class="custom-btn items-center flex gap-2 text-sm whitespace-nowrap">
                <i [class]="PrimeIcons.PLUS_CIRCLE"></i>
                <span>Adicionar 10 clientes</span>
            </button>
            <button (click)="clearClienteList()" class="custom-btn items-center flex gap-2 text-sm whitespace-nowrap">
                <i [class]="PrimeIcons.TRASH"></i>
                <span>Limpar lista</span>
            </button>
        </div>
        <div class="flex flex-initial w-full p-4 my-2 gap-8 border font-semibold rounded-md border-gray-300 bg-sky-100">
            <!-- Ordenador -->
            <app-list-sorter
                (sorter_OnSort)="fetchClientesList({
                    orderByColumn: $event.orderByColumn,
                    order: $event.order
		        })">
            </app-list-sorter>
            <!-- Input pesquisar -->
            <app-input-search
                (onSubmit)="fetchClientesList({
                    page: $event.page,
                    searchQuery: $event.searchQuery,
                    searchBy: $event.searchBy,
                    startByOrContain:$event.startByOrContain
                })">
            </app-input-search>
        </div>
        <!-- Dados/corpo da lista -->
        <div class="relative w-full gap-2 overflow-y-scroll">
            <app-list
                [list_items]="getListItems(clientesListSignal())"
                [list_tableFields]="list_tableFields">
            </app-list>
        </div>
        <!-- Paginador -->
        <app-list-paginator
            [paginationMeta]="paginationMetaSignal()"
            [limit]="lastPaginationOptionsUsedSig().limit!"
            (atualizarConsulta)="fetchClientesList({
                page:$event.currentPage,
                limit:$event.limit
            })">
        </app-list-paginator>
    </div>
</section>
