<section class="narrow-page !flex-row justify-center items-center h-[100dvh]">
    <div class="w-full max-w-[1200px] h-full max-h-[600px] p-12 bg-white rounded-[20px] shadow-lg flex justify-center">
        <div class="flex flex-col w-full bg-black/10">
            lado esquerdo
            fotos e os krl
        </div>
        <div class="flex flex-col items-center justify-center w-full bg-blue-700/10">
            <div>
                <p>Pagina de Login</p>
            </div>
            <div>
                <div>
                    <p></p>

                </div>
            </div>
        </div>
    </div>
</section>
