<div class="flex flex-col gap-8 w-full h-full">
    <div class="flex flex-col gap-8 w-full max-w-[500px]">
        <!-- Dados do produto -->
        <div class="flex flex-col gap-2">
            <p class="text-lg font-semibold">1. Dados do produto</p>

            <div class="flex gap-2 w-full">
                <!-- Nome do Produto -->
                <div class="w-full">
                    <app-produto-input
                        [input_formControl]="getProdutoFormControl('nome')"
                        [input_formGroup]="produtoFormGroup"
                        input_placeholder="Nome do produto"
                        input_label="Nome*"
                        input_required="true"
                    >
                    </app-produto-input>
                </div>

                <!-- Descrição do Produto -->
                <div class="w-full">
                    <app-produto-input
                        [input_formControl]="getProdutoFormControl('descricao')"
                        [input_formGroup]="produtoFormGroup"
                        input_placeholder="Descrição do produto"
                        input_label="Descrição*"
                        input_required="true"
                    >
                    </app-produto-input>
                </div>
            </div>

            <!-- Preço do Produto -->
            <div class="w-full">
                <app-produto-input
                    [input_formControl]="getProdutoFormControl('preco')"
                    [input_formGroup]="produtoFormGroup"
                    input_placeholder="R$ 0,00"
                    input_label="Preço*"
                    input_required="true"
                    input_mask="separator.2"
                    input_prefix="R$ "
                    input_thousandSeparator="."
                    input_decimalMarker=","
                >
                </app-produto-input>
            </div>

            <div class="flex gap-2 w-full">
                <!-- Unidade de Medida -->
                <div class="w-full">
                    <label
                        for="unidadeMedida"
                        class="block text-sm font-medium text-gray-700"
                    >
                        Unidade de Medida*
                    </label>
                    <select
                        [formControl]="getProdutoFormControl('unidade_medida')"
                        class="custom-select w-full"
                    >
                        <option
                            *ngFor="let unidade of unidadesMedida"
                            [value]="unidade.value"
                        >
                            {{ unidade.label }}
                        </option>
                    </select>
                </div>

                <!-- Quantidade em Estoque -->
                <div class="w-full">
                    <app-produto-input
                        [input_formControl]="
                            getProdutoFormControl('quantidade_estoque')
                        "
                        [input_formGroup]="produtoFormGroup"
                        input_placeholder="Quantidade"
                        input_label="Quantidade em Estoque*"
                        input_required="true"
                        input_mask="separator.0"
                    >
                    </app-produto-input>
                </div>
            </div>
        </div>

        <!-- Botão salvar -->
        <div class="flex w-full justify-center">
            <button
                mat-dialog-close
                (click)="submitForm()"
                class="custom-btn !py-1 !px-20"
            >
                Salvar
            </button>
        </div>
    </div>
</div>
