<div class="flex flex-col gap-8 w-full h-full">
    <div class="flex flex-col gap-8 w-full max-w-[500px]">
        <!-- Dados cliente -->
        <div class="flex flex-col gap-2">
            <p class="text-lg font-semibold">1. Dados pessoais</p>
            <div class="w-full">
                <app-input
                    [input_formControl]="getClienteFormControl('nome')"
                    [input_formGroup]="clienteFormGroup"
                    input_placeholder="Nome"
                    input_label="Nome*">
                </app-input>
            </div>
            <div class="flex gap-2 w-full">
                <div class="w-full">
                    <app-input
                        [input_formControl]="getClienteFormControl('cpf')"
                        [input_formGroup]="clienteFormGroup"
                        input_mask="000.000.000-00"
                        input_placeholder="000.000.000-00"
                        input_label="CPF*">
                    </app-input>
                </div>
                <div class="w-full">
                    <app-input
                        [input_formControl]="getClienteFormControl('telefone')"
                        [input_formGroup]="clienteFormGroup"
                        input_placeholder="(00) 0 0000-0000"
                        input_mask="(00) 0*"
                        input_label="Telefone*">
                    </app-input>
                </div>
            </div>
        </div>
        <!-- Endereco cliente -->
        <div class="flex flex-col gap-2">
            <p class="text-lg font-semibold">2. Endereço</p>
            <div class="grid grid-cols-2  gap-2">
                <app-input
                    [input_formControl]="getClienteEnderecoFormControl('cep')"
                    [input_formGroup]="clienteFormGroup"
                    input_mask="00000-000"
                    input_placeholder="00000-000"
                    input_label="CEP*">
                </app-input>
                <app-input
                    [input_formControl]="getClienteEnderecoFormControl('estado')"
                    [input_formGroup]="clienteFormGroup"
                    input_placeholder="Estado"
                    input_label="Estado*">
                </app-input>
                <app-input
                    [input_formControl]="getClienteEnderecoFormControl('cidade')"
                    [input_formGroup]="clienteFormGroup"
                    input_placeholder="Cidade"
                    input_label="Cidade*">
                </app-input>
                <app-input
                    [input_formControl]="getClienteEnderecoFormControl('bairro')"
                    [input_formGroup]="clienteFormGroup"
                    input_placeholder="Bairro"
                    input_label="Bairro*">
                </app-input>
                <app-input
                    [input_formControl]="getClienteEnderecoFormControl('rua')"
                    [input_formGroup]="clienteFormGroup"
                    input_placeholder="Rua"
                    input_label="Rua*">
                </app-input>
                <app-input
                    [input_formControl]="getClienteEnderecoFormControl('numero')"
                    [input_formGroup]="clienteFormGroup"
                    input_type="number"
                    input_placeholder="0"
                    input_label="Número">
                </app-input>
            </div>
        </div>
    </div>
    <!-- Botao salvar -->
    <div class="flex w-full justify-center">
        <button (click)="submitForm()" class="custom-btn !py-1 !px-20">Salvar</button>
    </div>
</div>
