<div class="flex flex-col w-full max-h-[93dvh] p-8 gap-6 bg-white overflow-y-auto">
    <div class="flex items-center text-lg gap-2">
        <i [class]="PrimeIcons.PENCIL" ngClass="font-boldd text-lg"></i>
        <p>Editar cliente</p>
        <button mat-dialog-close class="flex justify-center items-center ml-auto p-2 hover:bg-black/5 rounded-full transition-all">
            <i [class]="PrimeIcons.TIMES" class="flex"></i>
        </button>
    </div>
    <div>
        <app-form-profile-image />
    </div>
    <div class="">
        <app-form-customer />
    </div>
</div>
